@using Book_Movie_Ticket.Utilities
@using Book_Movie_Tictet.Models
@model IEnumerable<Category>

<div>
    <h2>Category List</h2>
    <a href="/Admin/Category/Create" class="btn btn-sm btn-success">Create<br></a>
    <hr >
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                    @if (User.IsInRole(SD.SUPER_ADMIN_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
                    {
                        <td>
                            <a href="/Admin/Movie/Edit/@item.Id" type="button" class="btn btn-warning">Edit</a>
                            <a href="/Admin/Movie/Delete/@item.Id" type="button" class="btn btn-danger btn-delete">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>NO Action</td>
                    }
                    </tr>
                }
        </tbody>
    </table>
</div>

@section Scripts {

    @if (@TempData["sucess-Notification"] is not null)
    {
        <script>
            toastr.success['@TempData["sucess-Notification"]'];
        </script>
    }
    else if (@TempData["error-Notification"] is not null)
    {
        <script>
            toastr.error['@TempData["error-Notification"]'];
        </script>
    }
}