
@using Book_Movie_Ticket.Utilities
@using Book_Movie_Tictet.Models
@model IEnumerable<Actors>
<div>
    <h2>Actors</h2>
    <a href="/Admin/Actors/Create" class="btn btn-sm btn-success">Create<br></a>
    <hr>
    <table  class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>Fullname</th>
                <th>Profile Picture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Img</td>
                    @if (User.IsInRole(SD.SUPER_ADMIN_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
                    {
                        <td>
                            <a href="/Admin/Movie/Edit/@item.Id" type="button" class="btn btn-warning">Edit</a>
                            <a href="/Admin/Movie/Delete/@item.Id" type="button" class="btn btn-danger btn-delete">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>NO Action</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

    @if (@TempData["sucess-Notification"] is not null)
    {
        <script>
            toastr.success['@TempData["sucess-Notification"]'];
        </script>
    }
    else if (@TempData["error-Notification"] is not null)
    {
        <script>
            toastr.error['@TempData["error-Notification"]'];
        </script>
    }
}
